<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="SPORTLIFE" />
    <meta name="keywords" content="Activitar, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Olympic Touch</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container-fluid">
        <div class="logo">
          <a href="./index.html">
            <strong href="logo">Olympic Touch</strong>
          </a>
        </div>

        <div class="container">
          <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
              <ul>
                <li class="active"><a href="./index.html">Главная</a></li>
                <li><a href="./schedule.html">Выбери тренера</a></li>
                <li><a href="./contact.html">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
      <div class="hero-items owl-carousel">
        <div
          class="single-hero-item set-bg"
          data-setbg="https://mtaman.ru/wp-content/uploads/2021/11/Taman-spa-studio-2.jpg"
          width="100%"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="hero-text">
                  <h2>Join Us Now</h2>
                  <h1>FITNESS & HEALTH</h1>
                  <h2>Feel the touch (MASSAGE)</h2>
                  <a href="./payment.html" class="primary-btn">Get a service</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="single-hero-item set-bg"
          data-setbg="https://zhenskijinternet.ru/wp-content/uploads/2020/08/111.jpg"
          width="100%"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="hero-text">
                  <h2>Join Us Now</h2>
                  <h1>FITNESS & HEALTH</h1>
                  <h2>Become a chocolate bar (SOLARIUM)</h2>
                  <a href="./payment.html" class="primary-btn">Get a service</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="single-hero-item set-bg"
          data-setbg="https://planjour.com/wp-content/uploads/2018/08/smoke-sauna-under-auroras.jpg"
          width="100%"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="hero-text">
                  <h2>Join Us Now</h2>
                  <h1>FITNESS & HEALTH</h1>
                  <h2>Feel the contrasting temperature(SAUNA)</h2>
                  <a href="./payment.html" class="primary-btn">Get a service</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero End -->

    <!-- Feature Section Begin -->
    <section class="feature-section">
      <div class="types-training">
        <div class="row">
          <div class="col-md-4">
            <div
              class="feature-item set-bg"
              data-setbg="https://sparkflyphotography.com/wp-content/uploads/2015/04/CPY-Instructor-Photos-052-900x600.jpg"
            >
              <h3>YOGA</h3>
              <p>
                Йога является одним из самых древних видов фитнеса, она совмещает в себе не только физическую нагрузку
                на мышцы, но и несет в себе гармонию
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="feature-item set-bg"
              data-setbg="https://catherineasquithgallery.com/uploads/posts/2021-02/1614401505_9-p-sport-temnii-fon-10.jpg"
            >
              <h3>AEROBICS</h3>
              <p>
                Форма физических упражнений, которая сочетает в себе ритмичные аэробные упражнения с растяжкой и
                силовыми тренировками с целью улучшения всех элементов фитнеса
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="feature-item set-bg"
              data-setbg="https://i.pinimg.com/originals/e5/55/b3/e555b32e009e92f91e0d502727984224.jpg"
            >
              <h3>Strength training</h3>
              <p>
                Распространенный вид силовых тренировок для развития силы и размера скелетных мышц. Он использует силу
                тяжести в виде утяжеленных брусьев, гантелей или весовых штабелей, чтобы противостоять силе, создаваемой
                мышцами посредством концентрического или эксцентрического сокращения.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="feature-item set-bg"
              data-setbg="https://recordregion.ru/wp-content/uploads/8/a/d/8ad7424f55ead0d6f676e86fc7cd140e.jpeg"
            >
              <h3>Crossfit</h3>
              <p>
                Силовая, подготовительная и общая фитнес-программа, состоящая в основном из сочетания аэробных
                упражнений, гимнастики (упражнений с весом тела) и олимпийской тяжелой атлетики.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item set-bg" data-setbg="https://forexdengi.com/filedata/fetch?id=26829820">
              <h3>Stretching</h3>
              <p>
                Комплекс упражнений, которые помогают растянуть мышцы, связки, чтобы сделать их более эластичными,
                устранить зажимы, предупредить боли, вернуть суставам подвижность, а телу – гибкость.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="feature-item set-bg"
              data-setbg="https://fikiwiki.com/uploads/posts/2022-02/1645054280_16-fikiwiki-com-p-kartinki-mma-17.jpg"
            >
              <h3>Martial Arts</h3>
              <p>Различные виды единоборств и самозащиты разного вида</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <% if (user) { %>
            <div>
              <h1 style="margin-bottom: 20px; color: rgb(3, 3, 3)">Username: <%= user.first_name %></h1>
              <a href="/api/logout" style="background-color: white; color: rgb(3, 3, 3); font-size: 18px">Log out</a>
            </div>
            <% } else { %>

            <form action="/sign-in" method="post" class="about-text">
              <h2>ДОБРО ПОЖАЛОВАТЬ В НАШ ФИТНЕС-КЛУБ</h2>
              <div class="col-lg-6">
                <input type="email" name="username" placeholder="Email" />
              </div>
              <div class="col-lg-6">
                <input type="password" name="password" placeholder="Пароль" />
              </div>
              <div class="bottom-btn">
                <button type="submit" class="button about-btn">Войти</button>

                <a href="/add-trainer.html" class="primary-btn about-btn">Регистрация</a>
              </div>
            </form>
            <% } %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-img">
            <img src="img/home-about.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Class Time Section Begin -->
    <section class="classtime-section class-time-table spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>Classtime Table</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="timetable-controls">
              <ul>
                <li class="active" data-tsfilter="all">all class</li>
                <% for (const sport of sports) { %>
                <li data-tsfilter="<%= sport %>"><%= sport %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="classtime-table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>
            <tbody>
              <% for (const [time_start, timetable] of timetables) { %>
              <tr>
                <td class="workout-time"><%= time_start %></td>

                <% for (const day of [...Array(7)].map((_, i)=> i+1)) { %> <% if (timetable[day] &&
                timetable[day].sport) { %>
                <td class="hover-bg ts-item" data-tsmeta="<%= timetable[day].sport.name %>">
                  <span> <%= timetable[day].time_start %> - <%= timetable[day].time_end %> </span>
                  <h6><%= timetable[day].sport.name %></h6>
                </td>
                <% } else { %>
                <td></td>
                <% } %> <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- Class Time Section End -->

    <!-- Price Plan Section Begin -->
    <section class="price-section spad set-bg" data-setbg="img/price-bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>ВЫБЕРИТЕ СВОЙ ЦЕНОВОЙ ПЛАН</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <div class="single-price-plan">
              <h4>1 Month</h4>
              <div class="price-plan">
                <h2>2000 Рублей</h2>
              </div>
              <ul>
                <li>Неограниченный доступ в тренажерный зал на 1 месяц</li>
                <li>Групповые занятия</li>
              </ul>
              <a href="./payment.html" class="primary-btn price-btn">Get Started</a>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="single-price-plan">
              <h4>3 Month</h4>
              <div class="price-plan">
                <h2>4500 Рублей</h2>
              </div>
              <ul>
                <li>Неограниченный доступ в тренажерный зал на 3 месяца</li>
                <li>Групповые занятия</li>
              </ul>
              <a href="./payment.html" class="primary-btn price-btn">Get Started</a>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="single-price-plan">
              <h4>6 Month</h4>
              <div class="price-plan">
                <h2>8000 Рублей</h2>
              </div>
              <ul>
                <li>Неограниченный доступ в тренажерный зал на 6 месяцев</li>
                <li>Групповые занятия</li>
              </ul>
              <a href="./payment.html" class="primary-btn price-btn">Get Started</a>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="single-price-plan">
              <h4>12 Month</h4>
              <div class="price-plan">
                <h2>14000 Рублей</h2>
              </div>
              <ul>
                <li>Неограниченный доступ в тренажерный зал на 12 месяцев</li>
                <li>Групповые занятия</li>
              </ul>
              <a href="./payment.html" class="primary-btn price-btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Price Plan Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cta-text">
              <h3>НАЧНИТЕ СЕГОДНЯ</h3>
              <p>Специальная Акция для студентов! 3 Месяца за 3000 Рублей! Успей приобрести абонемент!</p>
            </div>
            <a href="./payment.html" class="primary-btn cta-btn">Бронируй</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Cta Section End -->

    <!-- Map Section Begin -->
    <div class="map">
      <iframe
        title="google maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1349.97541145468!2d40.09658306729698!3d47.41290036870987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e24eb3e17d0a4d%3A0x1f5cf0e0310d657b!2z0JrQvtC80LjRgtC10YLRgdC60LDRjyDRg9C7LiwgMTA1LCDQndC-0LLQvtGH0LXRgNC60LDRgdGB0LosINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQuy4sIDM0NjQwMA!5e0!3m2!1sru!2sru!4v1673261363692!5m2!1sru!2sru"
        width="600"
        height="590"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <div class="map-contact-detalis">
        <div class="open-time">
          <h5>Время работы:</h5>
          <ul>
            <li>Понедельник-Пятница: <span>09:00 - 23:00</span></li>
            <li>Суббота: <span>09:00 - 21:00</span></li>
            <li>Воскресенье: <span>09:00 - 18:00</span></li>
          </ul>
        </div>
        <div class="map-contact-form">
          <h5>Связаться с нами</h5>
          <form action="#">
            <input type="text" placeholder="Имя" />
            <input type="text" class="phone" placeholder="Телефон" />
            <textarea placeholder="Сообщение"></textarea>
            <button type="submit" class="site-btn">Отправить</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Map Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
